{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "standard-with-typescript"
    ],
    "overrides": [],
    "parserOptions": {
        "project": [
            "tsconfig.json",
            "tsconfig.node.json"
        ],
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "@typescript-eslint/no-misused-promises": [
            "error",
            {
                "checksVoidReturn": false
            }
        ],
        "react/jsx-curly-newline": "error",
        "react/jsx-indent": [
            "error",
            2
        ],
        "react/jsx-max-props-per-line": [
            "error",
            {
                "maximum": {
                    "single": 3,
                    "multi": 1
                }
            }
        ],
        "react/jsx-indent-props": [
            "error",
            2
        ],
        "react/jsx-newline": [
            "error",
            {
                "prevent": true,
                "allowMultilines": true
            }
        ],
        "react/jsx-tag-spacing": [
            "error",
            {
                "beforeClosing": "never"
            }
        ],
        "react/destructuring-assignment": [
            "error",
            "always"
        ],
        "react/jsx-wrap-multilines": "error",
        "react/no-access-state-in-setstate": "error",
        "react/jsx-first-prop-new-line": [
            "error",
            "multiline-multiprop"
        ],
        "react/jsx-curly-brace-presence": "error"
    }
}