/*
 * author   thepoy
 * file     imageList.scss
 * created  2023-03-09 11:46:24
 * modified 2023-03-09 11:46:24
 */

#image-list {
  .ant-card-hoverable {
    cursor: auto;
  }

  .ant-col > .ant-list-item {
    display: flex;
    justify-content: center;
  }

  .ant-card-cover {
    text-align: center;
    min-height: 297px;

    img {
      max-height: 297px;
    }
  }

  .ant-card-body {
    padding: 5px;
    text-align: center;

    .ant-card-meta-title {
      font-size: 14px;
      font-weight: normal;
      color: rgb(135, 135, 135);
    }
  }

  .ant-card-head {
    position: absolute;
    right: 0;
    border: 0;
    padding: 0;
    min-height: 32px;

    button {
      display: block;
      color: rgba(0, 0, 0, 0.226);
    }

    button:hover {
      color: white;
      background-color: rgba(0, 0, 0, 0.669);
    }
  }
}
