/*
 * author   thepoy
 * file     imageList.scss
 * created  2023-03-09 11:46:24
 * modified 2023-03-09 11:46:24
 */

.merging {
  height: 100%;

  .ant-spin-spinning {
    height: 100%;
    max-height: 100% !important;
  }
}

#image-list {
  .ant-card-hoverable {
    cursor: inherit;
    background-color: #00000008;
  }

  .ant-col > .ant-list-item {
    display: flex;
    justify-content: center;
  }

  .ant-card-cover {
    text-align: center;
    min-height: 297px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 297px;
      border-radius: 8px;
    }
  }

  .ant-card-body {
    padding: 5px;
    text-align: center;

    .ant-card-meta-title {
      font-size: 14px;
      font-weight: normal;
      color: #717171;
    }
  }

  .ant-card-head {
    position: absolute;
    right: 0;
    border: 0;
    padding: 0;
    min-height: 32px;

    button {
      display: block;
      color: rgba(0, 0, 0, 0.226);
    }

    button:hover {
      color: white;
      background: radial-gradient(circle 16px, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    }
  }
}
