/*
 * author   thepoy
 * file     titleBar.scss
 * created  2023-03-08 16:21:55
 * modified 2023-03-08 16:21:56
 */
.titlebar {
  height: 30px;
  background: #ffffff;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.titlebar-button:hover {
  background: #e1e1e1;
}

#titlebar-close.titlebar-button:hover {
  background: rgb(229, 0, 0);
}

#titlebar-close.titlebar-button img:hover {
  color: white;
}
